@font-face{
	font-family: 'Proxima Nova';
	src: local("Proxima Nova Extra Condensed Bold"), url(fonts/Proxima Nova Extra Condensed Bold.otf);
}
body
{
	min-height: 3000px;
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-position: center top;
	font-family: 'Open Sans', 'Comic Sans MS'
}
/*Шапка*/
header{
	height: 100px;
	margin-bottom: 65px;
}
.logo{
	margin-top: 15px;
}
.social-buttons{
	width: 54px;
	height: 54px;
	float: left;
	text-align: center;
	margin-top: 30px;
	line-height: 50px
}
.social-buttons:hover{
	background-image: url(../img/social_icons/hover.png);
}

/*Лозунг и заголовок*/
h1, h2{
	font-family: 'Proxima Nova', 'Comic Sans MS';
}
h1{
	background: #0077cc;
	color: white;
	padding: 5px 15px;
	display: inline-block;
	font-size: 3em;
	margin: 0px;
}
h2{
	color: #0077cc;
	font-size: 1.8em;
	padding-left: 10px;
}


/*"Фичи"*/
.top-features{
	padding-left: 25px;
}
.top-features>li{
	padding-top: 5px;
}

/*Dropdown*/
.dropdown{
	text-align:center;
	margin: 2em auto;
	padding: 0;
	max-width: 350px;
}

.dropdown-toggle{
	font-size: 2em;
	font-weight: bold;
	color: #e60000;
	border: 2px solid #e60000;
	border-radius: 0.2em;
	padding: 0.5em;
	background-color: transparent;
	width:100%;
}
.dropdown-toggle:hover, .dropdown-menu>li a:hover{
	background-color: #e60000;
	color: white;
	background-image: none;
}
/*Затемнение кнопки, когда открыто меню*/
.open>.dropdown-toggle{
	background-color: #b30000;
	color: #f2f2f2;
	border: 2px solid #9a0000;
	background-image: none;
}
.dropdown-menu{
	width: 100%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: #e60000;
	border: 2px solid #e60000;
	background-color: transparent;
}
.dropdown-menu li a{
	color: #e60000;
	font-weight: bold;
}
