@font-face{
	font-family: 'Proxima Nova';
	src: local("Proxima Nova Extra Condensed Bold"), url(fonts/Proxima Nova Extra Condensed Bold.otf);
}
body
{
	min-height: 3000px;
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-position: center top;
	font-family: 'Open Sans', 'sans serif';
	color:#333333;
}
/*Шапка*/
header{
	height: 100px;
	margin-bottom: 75px;
}
.logo{
	margin-top: 15px;
}


/*Лозунг и заголовок*/
h1, h2{
	font-family: 'Proxima Nova', 'sans serif';
}
h1{
	background: #0077cc;
	color: white;
	padding: 5px 15px;
	display: inline-block;
	font-size: 3em;
	margin: 0px;
}
h2{
	color: #0077cc;
	font-size: 1.8em;
	padding-left: 10px;
}


/*"Фичи"*/
.top-features{
	padding-left: 25px;
	margin: 20px 0 20px 0;
}
.top-features>li{
	padding-top: 5px;
	font-size: 1.2em;
}

/*Select and go*/
.form-control{
	width: 230px;
	height: 40px;
	-webkit-appearance: none;
	-moz-appearance:none;/* Не работает :( */
	background: url(../img/arrow.png) no-repeat #fff;
	background-position: 95% 50%;
	margin-right: 20px;
	display: inline; 
	border: 2px solid #d30027;
	color:#333333;
	border-radius: 0;
}
/*убираем долбаную стрелку в ИЕ*/
select::-ms-expand {
    display: none;
}
option{
	border: 2px solid #d30027;
	color:#333333;
}
/*Кнопка перейти*/
.button{
	border: 2px solid #d30027;
	font-family: 'Proxima Nova', 'sans serif';
	width: 110px;
	height: 38px;
	color: #fff;
	background-color: #d30027;
	font-size: 1.4em;
}
.button:hover{
	color:#d30027;
	background-color: #fff;
}
.button:active{
	color:#b30021;
	background-color: #fff;
	border: 2px solid #b30021;
}
form{
	margin-bottom: 70px;
}

/*Разделитель стрелка вниз*/
.arrow-divider{
	background: url(../img/arrow-divider.png) no-repeat center;
	height: 40px;
}
.divider{
	position: absolute;
	bottom: 0;
	left:50%;
}

/*Школа*/
h3{
	font-family: 'Proxima Nova', 'sans serif';
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
}
.black-hr{
	border: none; /* Убираем границу для браузера Firefox */
  color: #333333; /* Цвет линии для остальных браузеров */
  background-color: #333333; /* Цвет линии для браузера Firefox и Opera */
  height: 2px;
  width: 200px;
}
.block-center{
	position: relative;
	display: flex;
}
.block-center>.col-md-5{
	margin: auto;
	z-index: 1;
}
h4{
	color: #0077cc;
	font-size: 1.6em;
}
p{
	font-size: 1.3em;
}

/*2 pic*/
.zigzag{
	background:url(../img/zigzag.png);
	height: 16px;
}
.two-pic div{
	text-align: center;
	padding: 40px 0;
}
a,h5{
	color: #d30027;
}
a:hover{
	color: #d30027;
}
/*Lessons*/
h5{
	font-size: 1.2em;
}

.doc{
	list-style-image: url(../img/icon-doc-small.png);
	padding-left: 10px; 
}
.print{
	list-style-image: url(../img/icon-print-small.png);	
	padding-left: 10px;
}
.slide{
	list-style-image: url(../img/icon-slideshow-small.png);	
	padding-left: 10px;
}
.lessons-hr{
	border: none; /* Убираем границу для браузера Firefox */
  color: #cedce5; /* Цвет линии для остальных браузеров */
  background-color: #cedce5; /* Цвет линии для браузера Firefox и Opera */
  height: 1px;
}

/*Carving*/
.carving{
	background: url(../img/carving-rider.png) right no-repeat;
	min-height: 593px;
}
.block-center .col-md-6{
	margin: auto 0;
}